@import "Färger.css";
.container{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    display: grid;
    grid-template-columns: auto auto 10%;
    grid-template-rows: 100px 70px 1fr 100px;
    grid-template-areas: 
    "header header header"
    ". . aside"
    "main main2 aside"
    "footer footer footer";
}
body{
    background: radial-gradient(circle,rgba(0, 47, 108, 1) 10%, #eddd53 100%);
}

.header{
    grid-area: header;
    /*background: var(--Secundary-color);*/
    background: #002F6C;
    background: radial-gradient(closest-side at center,rgba(0, 47, 108, 1) 60%, rgba(237, 221, 83, 1) 120%);
    display: flex;
    
    justify-content: space-evenly;
    
    float: left;
}
.header li{
    display: inline-block;
    font-size: 25px;

}



.main{
    grid-area: main;
    color: var(--Footer-color);

}
.main img{
    margin-top: 10%;
    width: 80%;

}


.main2{
    grid-area: main2;
}
.main2 img{
    width: 100%;
}
.footer{
    grid-area: footer;
    background: #002F6C;
    color: var(--Footer-color);
    
}
#text1{
    display: none;
}
#text2{
    display: none;
}




.aside{
    grid-area: aside;
    overflow: hidden;
}
.aside img{
    width: 100%;
    height: 40%;
}
#sidor{
    list-style-type: none;
    display: none;
    background-color: #eeee;
    box-shadow: 2px 2px 2px grey;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    position: sticky;
    margin-top: 30px;
}
#sidor li{
    margin-top: 20px;
}

#Kundkassa{
    display: none;
    border: 3px solid var(--Footer-color);
    box-shadow: 5px 5px 5px var(--Footer-color);
    height: 520px;
    width: 250px;
    margin-left: 25%;
    background-color: var(--primary-color);
    border-radius:0 0 30px 30px;
    
}

.innre-kundkassa{
    
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

#Pr{
    padding-top: 170px;
}
#Su{
    padding-top: 170px;
}
#x{
    float: right;
    font-size: 50px;
    padding: 0;
    margin: 0;
}
#betala{
    float: right;
}
#Namnk{
    display: none;
}
#lössenordk{
    display: none;
}



.Flex-Mat{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    display: grid;
    grid-template-columns: auto auto 10%;
    grid-template-rows: 100px 2fr ;
    grid-template-areas: 
    "header header header"
    "main main main";
    
}

.Mat-main{
    grid-area: main;
}
.Mat-footer{
    grid-area: footer;
}

.Mat-main table{
    border-spacing: 0;
    width: 100% !important;
    text-align: center;
    margin-top: 50px;
    border: 1px solid var(--Secundary-color);
}
.Mat-main thead{
    width: 100%;
    background-color: var(--Footer-color);
}

#Cevape{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
    
}
#Cevape img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Cevape p{
    font-size: 30px;
    padding-left: 50px;
}
#GrahLonoc{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}
#GrahLonoc img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#GrahLonoc p{
    font-size: 30px;
    padding-left: 50px;
}
#Burek{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}
#Burek img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Burek p{
    font-size: 30px;
    padding-left: 50px;
}
#Pljeskavica{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}   
#Pljeskavica img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Pljeskavica p{
    font-size: 30px;
    padding-left: 50px;
}
#Chorba{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}
#Chorba img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Chorba p{
    font-size: 30px;
    padding-left: 50px;
}

.Spel{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto 10%;
    grid-template-rows: 100px 150px 100px 100px 100px 100px;
    grid-template-areas: 
    "header header header header"
    ". . . ."
    "Spelblock Spelblock Spelblock reklam"
    "Spelblock Spelblock Spelblock reklam"
    "Spelblock Spelblock Spelblock reklam"
    "main2s main2s main2s main2s";

}

#Spel-block{
    
    margin-left: 20px;
    grid-area: Spelblock;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "r-1 r-2 r-3"
    "r-4 r-5 r-6"
    "r-7 r-8 r-9";
}
#r-1{
    grid-area: r-1;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-2{
    grid-area: r-2;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-3{
    grid-area: r-3;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-4{
    grid-area: r-4;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-5{
    grid-area: r-5;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-6{
    grid-area: r-6;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-7{
    grid-area: r-7;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-8{
    grid-area: r-8;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#r-9{
    grid-area: r-9;
    border: 3px solid var(--Secundary-color);
    border-radius: 10px;
}
#dbild{
    width: 50px;
    display: none;
}
#bbild{
    width: 50px;
    display: none;
}
#Viktiga-Knappar{
    margin-top: 50px;
    margin-left: 20px;
    grid-area: main2s;
}
#aside2{
    grid-area: reklam;
}



.L-a{
    background:  radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(237, 221, 83, 1) 100%);
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 300px 1fr;
    grid-template-areas: 
    ". . ."
    ". L-info ."
    ". . .";
}

#L-info{
    grid-area: L-info;
    align-items: center;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 20px;
    padding-left: 40px;
}

#error-msg{
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

.G-Skappa{
    height: 100vh;
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 700px auto;
    grid-template-areas: 
    "Headerg Headerg Headerg"
    "maing maing maing"
    ". . .";
}
#bodys{
    background: linear-gradient(0deg,rgba(149, 195, 34, 1) 0%, rgba(253, 45, 76, 1) 100%);
}
#headerg{
    grid-area: Headerg;
    font-size: 20px;
    text-align: center;
    background-color: white;
    height: 100%;
    
    
}
#s h2 i{
    float: left;
    color: black;
    
}
#s{
    font-size: 40px;
    margin-bottom: 30px;
}

#maing{
    margin-top: 100px;
    grid-area: maing;
    background-color: white;
    text-align: center;
}
