@import "Färger.css";
.container{
    height: 100vh;
    display: flex;
    display: grid;
    grid-template-columns: auto auto 10%;
    grid-template-rows: 100px 70px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    ". . aside"
    "main main2 aside"
    "main3 main3 aside";
}
.header{
    grid-area: header;
    background: #2A7B9B;
    background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    
    justify-content: space-evenly;
    
    float: left;
}
.header li{
    display: inline-block;
    font-size: 25px;

}



.main{
    grid-area: main;

}
.main img{
    margin-top: 10%;
    width: 80%;

}


.main2{
    grid-area: main2;
}
.main3{
    grid-area: main3;
    margin-left: 30%;
}
.main3 li{
    list-style-type: none;
}
#text1{
    display: none;
}
#text2{
    display: none;
}




.aside{
    grid-area: aside;
}
.aside img{
    width: 100%;
    height: 100%;
}
#sidor{
    list-style-type: none;
    display: none;
    background-color: #eeee;
    box-shadow: 2px 2px 2px grey;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    position: sticky;
}
#sidor li{
    margin-top: 20px;
}

#Kundkassa{
    display: none;
    border: 3px solid var(--Footer-color);
    box-shadow: 5px 5px 5px var(--Footer-color);
    height: 500px;
    width: 250px;
    margin-left: 25%;
    background-color: var(--primary-color);
    border-radius:0 0 30px 30px;
    
}

.innre-kundkassa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}



.Flex-Mat{
    height: 100vh;
    display: flex;
    display: grid;
    grid-template-columns: auto auto 10%;
    grid-template-rows: 100px 2fr ;
    grid-template-areas: 
    "header header header"
    "main main main";
    
}

.Mat-main{
    grid-area: main;
}
.Mat-footer{
    grid-area: footer;
}

.Mat-main table{
    border-spacing: 0;
    width: 100% !important;
    text-align: center;
    margin-top: 50px;
    border: 1px solid var(--Secundary-color);
}
.Mat-main thead{
    width: 100%;
    background-color: var(--Footer-color);
}

#Cevape{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
    
}
#Cevape img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Cevape p{
    font-size: 30px;
    padding-left: 50px;
}
#GrahLonoc{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}
#GrahLonoc img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#GrahLonoc p{
    font-size: 30px;
    padding-left: 50px;
}
#Burek{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}
#Burek img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Burek p{
    font-size: 30px;
    padding-left: 50px;
}
#Pljeskavica{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}   
#Pljeskavica img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Pljeskavica p{
    font-size: 30px;
    padding-left: 50px;
}
#Chorba{
    display: none;
    width: 300px;
    background-color: #eeee;
    box-shadow: 2px 2px 2px gray;
    border-radius: 30px;
    align-content: center;
    margin-top: 50px; 
}
#Chorba img{
    width: 200px;
    left: 15%;
    translate: 16% 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
#Chorba p{
    font-size: 30px;
    padding-left: 50px;
}

.Spel{
    height: 100vh;
    display: flex;
    display: grid;
    grid-template-columns: auto auto 10%;
    grid-template-rows: 100px 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "mains mains aside"
    "main2s main2s main2";

}

.Spel-block{
    margin-top: 50px;
    grid-area: mains;
    height: 500px;
    width: 100%;
    
    border: 1px solid black;
}
#AlbinSP{
    text-align: center;
    padding-top: 440px;
}
#AlbinSP img{
    width: 40px;
}
.Viktiga-knappar{
    grid-area: main2s;
}